.block-featured {
  max-width: 460px;
  width: 100%;
  height: 340px;
  background-image: url('/assets/images/projects/mx-roi-calculator-featured.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px;
  z-index: 1;
  color: $white;

  h2 {
    margin: 0 0 5px 0;
  }

  p {
    margin: 0;
  }

  .block-featured-link {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .block-featured {
    height: 520px;
    min-width: 400px;
  }
}