$display-font: 'Roboto Condensed', helvetica, arial, sans-serif;
$base-font: helvetica, arial, sans-serif;

$black: #000000;
$gray-000: #EDEDED;
$gray-100: #D7D7D7;
$gray-300: #6B6A6A;
$gray-500: #333232;
$white: #FFFFFF;
$orange: #FF9900;

$sm: 460px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;