html {
  background-color: #000000;
}

html, html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto Condensed", helvetica, arial, sans-serif;
  font-weight: 100;
  font-size: 72px;
  line-height: 100%;
}

h2 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

p, li, a, label, div {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

a {
  color: #FF9900;
}

.content-label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #D7D7D7;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  background-color: #FFFFFF;
  position: relative;
  padding: 0 0 60px;
}

.flex-wrapper {
  display: flex;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.neutral {
  background-color: #EDEDED;
}

.white-band,
.black-band {
  width: 100%;
  height: 60px;
  z-index: 0;
  position: absolute;
  left: 0;
}

.white-band {
  background-color: #FFFFFF;
  bottom: 0;
}

.black-band {
  background-color: #000000;
  top: 0;
}

.photo-right {
  float: right;
  margin-left: 60px;
}

@media screen and (min-width: 1024px) {
  .one-col {
    margin: 40px 40px 0;
    text-align: center;
  }
  .one-col img {
    margin: 0 0 40px;
  }

  .two-col {
    column-count: 2;
    column-gap: 30px;
    margin-top: 40px;
  }
  .two-col img {
    margin: 0 0 20px;
  }
}
.block-content {
  padding: 80px 0;
}

.block-content p {
  max-width: 1020px;
}

.block-content img {
  max-width: 100%;
}

.block-featured {
  max-width: 620px;
  width: 100%;
  height: 520px;
  background-image: url("/assets/images/projects/mx-roi-calculator-featured.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px;
  z-index: 1;
}

.block-featured .block-featured-link {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.block-featured h2 {
  margin: 0 0 5px 0;
  color: #FFFFFF;
}

.block-featured p {
  margin: 0;
  color: #FFFFFF;
}

.about-featured {
  max-width: 485px;
  width: 100%;
  height: 520px;
  background-image: url("/assets/images/zporter-portrait.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px;
  z-index: 1;
}

.block-prev-work {
  margin-top: 60px;
}

.project-block-content {
  padding: 80px 0;
}

.project-block-content p {
  max-width: 1020px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
}

@media screen and (min-width: 525px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.project-item a {
  text-align: center;
}

.project-item .thumbnail {
  height: 240px;
  overflow: hidden;
  background-color: #C4C4C4;
  position: relative;
}

.project-item .thumbnail img {
  position: absolute;
  margin: auto;
  height: 240px;
  top: 0;
  bottom: 0;
  transition: all 200ms ease-out;
  transform: translateX(-50%);
  transform-origin: center;
}

.project-item .thumbnail:hover img {
  height: 255px;
}

.project-tag {
  background-color: #FF9900;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.block-project {
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10px;
}
.block-project.block-project-mastercontrol {
  background-image: url("/assets/images/banners/banner-mastercontrol.jpg");
}
.block-project.block-project-aquamira {
  background-image: url("/assets/images/banners/banner-aquamira.jpg");
}
.block-project.block-project-melaleuca {
  background-image: url("/assets/images/banners/banner-melaleuca.jpg");
}
.block-project.block-project-herff-jones {
  background-image: url("/assets/images/banners/banner-herff-jones.jpg");
}
.block-project:hover .overlay {
  opacity: 0.333;
}
.block-project .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  opacity: 0.8;
  transition: all 250ms ease-out;
}
.block-project a {
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.block-project h2 {
  margin: 0 0 5px 0;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.block-project p {
  margin: 0;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.features {
  padding: 60px 0 0;
}

.features .container {
  flex-direction: column;
}

.features .block-feature {
  margin: 0 0 40px;
}

.features .block-feature p {
  margin-bottom: 40px;
}

.features .block-feature hr {
  border: 1px solid #EDEDED;
}

@media screen and (min-width: 1024px) {
  .features .container {
    flex-direction: row;
  }

  .features .block-feature {
    margin: 0 40px;
  }
}
footer {
  background-color: #000000;
}

footer p {
  color: #6B6A6A;
  text-align: center;
  font-size: 14px;
}

header {
  background-color: #000000;
  padding: 32px 0;
}

header .head-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  cursor: pointer;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 2px;
  margin-right: 30px;
}

header a:last-child {
  margin-right: 0;
}

.hero h1,
.hero p {
  color: #FFFFFF;
}

.hero-alt {
  padding-bottom: 60px;
}

.hero-home {
  position: relative;
}

.hero .flex-wrapper {
  flex-direction: column;
}

.hero-home .hero-content {
  max-width: 655px;
  padding-right: 60px;
  z-index: 1;
  margin-bottom: 20px;
}
.hero-home .hero-content .self-portrait-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
}

.hero-home h1 {
  font-weight: 100;
  font-size: 48px;
  line-height: 56px;
  z-index: 1;
}

.hero-work {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.hero-work .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.9;
  z-index: 0;
  top: 0;
}
.hero-work .container {
  z-index: 1;
  position: relative;
}
.hero-work.hero-mastercontrol {
  background-image: url("/assets/images/hero/hero-mastercontrol.jpg");
}
.hero-work.hero-aquamira {
  background-image: url("/assets/images/hero/hero-aquamira.jpg");
}
.hero-work.hero-melaleuca {
  background-image: url("/assets/images/hero/hero-melaleuca.jpg");
}
.hero-work.hero-herff-jones {
  background-image: url("/assets/images/hero/hero-herff-jones.jpg");
}

.hero-work .flex-wrapper,
.hero-project .flex-wrapper {
  justify-content: space-between;
}

.hero-work .project-meta,
.hero-project .project-meta {
  max-width: 380px;
  width: 100%;
  float: right;
}

.hero-work .project-meta .meta-item,
.hero-project .project-meta .meta-item {
  margin-top: 30px;
}

.hero-work .project-meta p,
.hero-project .project-meta p {
  margin: 5px 0;
}

.hero-work,
.hero-project {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .hero-home .hero-content {
    margin-bottom: 60px;
  }

  .hero-work .flex-wrapper,
.hero-project .flex-wrapper {
    flex-direction: row;
  }

  .hero-work .project-meta .meta-item,
.hero-project .project-meta .meta-item {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-home .flex-wrapper {
    flex-direction: row;
  }
}
.breadcrumb {
  display: flex;
}
.breadcrumb .divider {
  color: #6B6A6A;
}
.breadcrumb * {
  margin: 0 10px 0 0;
  font-size: 15px;
}